* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: rgb(226, 228, 228);
}

img {
  width: 100%;
}

header {
  min-height: 180px;
  background-color: rgb(61, 172, 61);
  color: rgb(66, 61, 61);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

p {
  color: #555;
  font-size: 18px;
  line-height: 1.8em;
}

mark {
  color: #555;
  background-color: rgb(183, 239, 183);
}

hgroup {
  margin-top: 0.5rem;
}

hgroup h1 {
  font-size: 3.5rem;
}

hgroup h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(230, 223, 223);
  padding-bottom: 10px;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  background-color: green;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  background-color: rgb(226, 228, 228);
}

section h2 {
  color: #5f5c5c;
  font-size: 2.5rem;
}

section h3 {
  font-size: 2rem;
  color: #5f5c5c;
}

time {
  font-weight: 300;
}

section h4 {
  font-weight: 600;
}

section {
  padding-top: 2rem;
}

figure {
  margin-top: 2rem;
}

figcaption {
  font-weight: 600;
}

details {
  display: inline-block;
  margin-top: 2rem;
  border: 1px solid black;
  padding: 5px;
  width: 400px;
}

details summary {
  font-weight: 600;
}

aside {
  background-color: rgb(183, 239, 183);
  padding: 10px;
  margin-top: 2rem;
}
aside h3 {
  font-size: 2rem;
}

aside a {
  color: #333232;
  font-size: 18px;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: green;
  padding: 20px;
  color: white;
  min-height: 180px;
  font-size: 18px;
}

footer address {
  font-style: normal;
}

footer address a {
  color: white;
}

footer section p {
  color: white;
}

footer dialog {
  position: relative;
  background-color: white;
  padding: 20px;
}
